* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    color: white;
    background-color: rgb(17, 17, 17);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #186E26;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

@mixin small {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 1400px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 1600px) {
        @content;
    }
}

body {}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

/* cover */

#book_cover {
    background: #242623;
    height: 100vh;

    .deco {
        img {
            width: 300px;

            @include small {
                width: 180px;
            }
        }

        .usx {
            position: absolute;
            top: 0;
            left: 0;
        }

        .udx {
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(90deg);
        }

        .dsx {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(-90deg);
        }

        .ddx {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }

    }


    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .logo {
            width: 400px;
            margin-bottom: 3rem;

            @include small {
                width: 300px;
            }
        }

        .style_cover {
            width: 300px;
            margin-bottom: 3rem;

            @include small {
                width: 200px;
            }
        }

        .crediti {
            font-size: 1rem;
            font-weight: 300;
        }

        a {
            font-weight: 800;
            font-size: 2rem;

            &:hover {
                color: #186E26;
            }

        }

        p {
            margin-top: 0;
            font-size: .8rem;
            margin-bottom: 3rem;
        }

        ul {
            display: flex;

            li {
                i {
                    font-size: 3.5rem;
                    margin: 0 3rem 3rem 3rem;
                }
            }
        }
    }
}

/* index */

#index {

    .deco_idx {
        img {
            width: 300px;

            @include small {
                width: 180px;
            }
        }

        .usx {}

        .ddx {}

    }
}