* {
    padding: 0;
    background-color: #242623;
}

html {
    scroll-behavior: smooth;
    color: white;
}

body {}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

#book_cover {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;

    .content {
        grid-row: 2/6;
        grid-column: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-content: center;
        text-align: center;

        .logo {
            margin: auto;
            width: 100%;
        }

        .style_cover {
            margin: 2rem auto auto auto;
            width: 100%;
        }

        a {
            margin-top: 1rem;
            font-weight: 800;
            font-size: 1.2rem;

            &:hover {
                color: #186E26;
            }
        }

        p {
            margin: 0;
            font-size: .8rem;
        }

        ul {
            display: flex;
            justify-content: space-around;
            margin-top: 3rem;

            li {
                i {
                    font-size: 3rem;
                }
            }
        }
    }

    .img_corner {
        width: 100%;
    }

    .ups {
        transform: rotate(0);
        grid-row: 1;
        grid-column: 1;
    }

    .upd {
        transform: rotate(90deg);
        top: 0;
        right: 0;
        grid-row: 1;
        grid-column: 5;
    }

    .dws {
        transform: rotate(-90deg);
        bottom: 0;
        left: 0;
        grid-row: 6;
        grid-column: 1;
    }

    .dwd {
        transform: rotate(-180deg);
        bottom: 0;
        right: 0;
        grid-row: 6;
        grid-column: 5;
    }
}