* {
    padding: 0;
    margin: 0.1rem;
    background-color: #242623;
}

html {
    scroll-behavior: smooth;
}

body {}

#book_cover {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .content {
        grid-row: 2/5;
        grid-column: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-content: center;
        text-align: center;

        .logo {
            width: 100%;
        }
    }

    .img_corner {
        width: 100%;
    }

    .ups {
        transform: rotate(0);
        grid-row: 1;
        grid-column: 1;
    }

    .upd {
        transform: rotate(90deg);
        top: 0;
        right: 0;
        grid-row: 1;
        grid-column: 5;
    }

    .dws {
        transform: rotate(-90deg);
        bottom: 0;
        left: 0;
        grid-row: 5;
        grid-column: 1;
    }

    .dwd {
        transform: rotate(-180deg);
        bottom: 0;
        right: 0;
        grid-row: 5;
        grid-column: 5;
    }
}